<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 welcome <span ><%= message.FName %> <%= message.LName %></span>
 <a href="/view_products" class="btn btn-default"><span class="fa fa-user"></span> View products</a>
</body>
</html>